In [ ]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Datafram').getOrCreate()

In [ ]:
spark

In [ ]:
### read the dataset

df_spark=spark.read.option('header','true').csv('/content/test2.csv', inferSchema=True)
df_spark.show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   Krish| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

In [ ]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
df_spark2=spark.read.csv('/content/test2.csv', header=True, inferSchema=True)
df_spark2.show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   Krish| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

In [ ]:
df_spark2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
type(df_spark2)

pyspark.sql.dataframe.DataFrame

In [ ]:
print(df_spark2.columns)
df_spark2.head(3)

['Name', 'age', 'Experience']

[Row(Name='Krish', age=31, Experience=10),
 Row(Name='Sudhansh', age=30, Experience=8),
 Row(Name='Sunny', age=29, Experience=4)]

In [ ]:
# df_spark2.show()
df_spark.select(['Name', 'Experience']).show()
type(df_spark.select('Name'))

+--------+----------+
|    Name|Experience|
+--------+----------+
|   Krish|        10|
|Sudhansh|         8|
|   Sunny|         4|
+--------+----------+

pyspark.sql.dataframe.DataFrame

In [ ]:
# SHOW DATATYPES
df_spark2.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [ ]:
# DESCRIBE

df_spark2.describe().show()

+-------+-----+----+-----------------+
|summary| Name| age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| NULL|30.0|7.333333333333333|
| stddev| NULL| 1.0|3.055050463303893|
|    min|Krish|  29|                4|
|    max|Sunny|  31|               10|
+-------+-----+----+-----------------+

### Adding Columns

In [ ]:
df_spark=df_spark2.withColumn('Experience After 2 years', df_spark2['Experience']+2)

df_spark.show()

+--------+---+----------+------------------------+
|    Name|age|Experience|Experience After 2 years|
+--------+---+----------+------------------------+
|   Krish| 31|        10|                      12|
|Sudhansh| 30|         8|                      10|
|   Sunny| 29|         4|                       6|
+--------+---+----------+------------------------+

In [ ]:
df_spark3=df_spark.drop('Experience After 2 years')

df_spark3.show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   Krish| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

#### Rename the columns

In [ ]:
df_spark3.withColumnRenamed('Name','First Name').show()

+----------+---+----------+
|First Name|age|Experience|
+----------+---+----------+
|     Krish| 31|        10|
|  Sudhansh| 30|         8|
|     Sunny| 29|         4|
+----------+---+----------+